<form [formGroup]="salesForm" (ngSubmit)="submit()">
    <h2>EcoSoch Enphase Residential Quote Sheet (upto 10kWp)</h2>
    <!-- <label for="name-of-the-sales">Name Of the Sales </label>
    <input id="name-of-the-sales" type="text" formControlName="nameOftheSales" required>
  
    <label for="email-id-of-sales-person">Email id of Sales person</label>
    <input id="email-id-of-sales-person" type="text" formControlName="emailIdOfSalesPerson">
  
    <label for="name-of-the-customer">Name of the Customer</label>
    <input id="name-of-the-customer" type="text" formControlName="nameOfTheCustomer">
  
    <label for="email-id-of-the-customer">Email of of the Customer</label>
    <input id="email-id-of-the-customer" type="text" formControlName="emailIdOfTheCustomer"> -->
  
    <label for="sanction-load-in-kw">Sanction Load (in KW)</label>
    <input id="sanction-load-in-kw" type="text" formControlName="sanctionLoadInKw">
  
    <label for="phase-at-premises">Phase at Premisis</label>
    <input id="phase-at-premises" type="text" formControlName="phaseAtPremises">
  
    <button type="submit">Submit to Excel</button>
  </form>
  